---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import { SITE_TITLE, SITE_DESCRIPTION, HOMEPAGE_URL } from '../config'
import { IoArrowForward } from 'react-icons/io5'
import Masthead from '../components/Masthead.astro'
import { Image } from '@astrojs/image/components'

const posts = (await Astro.glob('./posts/*.md')).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
)
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <Masthead />
      <h1 class="font-mplus text-center">Pandashark Blog</h1>
      <Content>
        <section>
          <p class="mb-8 indent-4">
            喫茶店の調理職に従事する傍らフリーランスのフロントエンドエンジニアとして働いています。
            Reactを用いたフロントエンドの開発が得意です。
            <a
              href={HOMEPAGE_URL}
              class="inline-flex items-center gap-1 indent-1 text-orange-500"
              >Learn more about me <IoArrowForward className="inline" />
            </a>
          </p>
        </section>
      </Content>
      <section>
        <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
          {
            posts.map(post => (
              <li class="text-center mb-4">
                <a
                  href={post.url}
                  class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                >
                  <Image
                    class="border"
                    src={post.frontmatter.heroImage}
                    alt=""
                    width={720 * 2}
                    aspectRaito={2.0}
                    alt="Thumbnail"
                  />
                  <div class="mt-3 text-xl">{post.frontmatter.title}</div>
                  <div class="opacity-70">{post.frontmatter.description}</div>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </Body>
</html>
